/* Set the background color of the body */
body {
  background-color: #f7fafc;
  font-weight: 400
}

/* Set the font family and size for the body text */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5
}

/* Add some padding to the container */
.container {
  padding: 1rem;
}

/* Style the headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
}

/* Add some margin to the bottom of the headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

/* Style the links */
a {
  color: brown;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Change the link color on hover */
a:hover {
  color: brown;
}

/* Add some padding and border to the input fields */
input {
  padding: 0.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

/* Change the border color on focus */
input:focus {
  border-color: brown;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

#card-container {
  background-image: url("https://source.unsplash.com/LGD8eV8ar4E");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#card-content {
  background-color: rgba(92, 58, 9, 0.368);
  padding: 2rem;
  text-align: center;
}

#card-content h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#card-content p {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
#dropdown {
  font: 1.5rem 'Roboto', sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#title {
  font: 2rem 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  color: white;
}

/* Mobile devices (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* CSS rules for mobile devices go here */
}

/* Tablets and smaller laptops (portrait and landscape) */

/* Tablets and smaller laptops (portrait and landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #card-content {
    padding: 1.5rem;
  }

  #card-content h1 {
    font-size: 14pt;
  }

  #card-content p {
    font-size: 11pt;
  }
}


/* Desktop and larger laptops (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS rules for desktop and larger laptops (landscape) go here */
}

/* Desktop and larger laptops (portrait) */
@media only screen and (min-width: 1025px) {
  /* CSS rules for desktop and larger laptops (portrait) go here */
}

